*{
    margin: 0px;
    padding: 0px;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
h1{
    color: blue;
    font: bolder 30pt caption;
}
nav{
    background-color: blue;
    text-align: center;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.427);
}
a{
    color: white;
    text-decoration: none;

}
a:hover{
    background-color: aqua;
    transform: scale(1.2);
}