* {
    margin: 0px;
    padding: 0px;
}
header{
    background-color: blue;
    text-align: center;
    font: 28pt caption;
    color: rgb(0, 255, 251);
    padding: 10px;
    max-width: 1500px;
    min-width: 500px;

}
header h2{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.715);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.348);
}
nav{
    background-color: rgb(1, 1, 123);
    padding: 15px;
    max-width: 1500px;
    min-width: 500px;

}
a{
    padding: 10px;
    color: rgb(0, 251, 255);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.715);
}
a:hover{
    background-color: rgb(0, 149, 255);
}
section{
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    padding: 100px;
    background-color: rgba(0, 255, 255, 0.508);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.46);
}
div#abrir1{
    color: blue;
    text-align: center;
    padding: 20px;
    margin: auto;
    background-color: rgba(0, 145, 255, 0.244);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.44);
}
div input{
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.375);
}
input#criar{
    width: 50px;
    box-sizing: content-box;
}
article{
    background-color: rgb(3, 3, 160);
    color: rgb(0, 187, 255);
    padding: 20px;
    max-height: 1000px;
    min-height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.715);
}
article h2{
    background-color: rgb(0, 179, 255);
    color: rgb(254, 3, 3);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.715);
}
article p{
    background-color: rgb(255, 255, 255);
    color: black;
    text-indent: 20px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.715);
    padding: 10px;
}
footer{
    text-align: center;
    color: blue;
    padding: 10px;
}